/* header */

.container-fluid{
    background-color:aliceblue;

}


header{
    border-bottom: 3px deepskyblue solid;
}
h1{
    text-shadow: 1px;
    font-weight: bold;
    font-style: italic;

}
.logoGuince{
    width:150px;
    border-radius: 5px;
}

.logoGuince:hover{
    width: 200px;
}


.anclaNav{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color:deepskyblue;
}

.fotosEquipo{
    margin: 100px;
    opacity: 70%;
    background-color:deepskyblue;
    border-radius: 15px;
}

.imgEquipo {
    border-radius: 30px;
}
.losBotones{
    background-color: lightskyblue;
}

.sectionEquipo{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.fotoGuinceTodos{
    width: 200px;
    border-radius: 5px;
    border: 1px deepskyblue solid;
}

.formularioContacto{
    border: 1px deepskyblue solid;
    margin: 10px 1px 1px 1px;
    padding:3%;
    border-radius: 20px;

}

.tituloPlantilla{
    color: deepskyblue;
    font-weight: bold;
    text-decoration: underline;
}



.escudoGuinceMedio{
    width: 200px;
}

.accordionGuince{
    margin: 20px;
}

.galeriaGuince{
    margin: 100px;
    opacity: 70%;
    background-color:lightgrey;
    border-radius: 15px;
}

.videoYT{
    display: flex;
    justify-content: center;
    height: auto;
    width:auto;
    margin: auto;
}