.fotosEquipo{
    margin: 100px;
    opacity: 70%;
    background-color:$color-primario;
    border-radius: 15px;

    .imgEquipo{border-radius: 30px;
    }

    .losBotones{
        background-color: lightskyblue;
    }
}