.sectionEquipo{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

    .fotoGuinceTodos{  
        width: 200px;
        border-radius: 5px;
        border: 1px $color-primario solid;
    }

    .tituloPlantilla{
        color: $color-primario;
        font-weight: bold;
        text-decoration: underline;
    }
}